<main class="d-flex justify-content-center">
    <form action="" >
        
        <h1>Login</h1>
        <div class="input-group mt-4 mb-4" id="group">
            <span class="input-group-text" id="basic-addon1">Usuario: </span>
            <input id="input1" #input1 type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mt-4 mb-3" id="group">
            <span class="input-group-text" id="basic-addon1">Password: </span>
            <input id="input2" #input2 type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div class="b1 mt-5 mb-3">
        <button class="w-100 btn btn-lg btn-outline-primary" type="button" (click)="verificar(input1.value,input2.value)">Log In</button>
        </div>

    </form>
    </main>

<div class="d-flex justify-content-center">
    <div id="correcto" class="mt-2" style="display:none">
        <h2 class="text-center">Bienvenido usuario: Angular</h2>
        <nav class="text-left">
            <ul type="none" *ngFor="let items of grupo1">
            <a class="nav-item">{{items}}</a>
            </ul>
        </nav>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div id="incorrecto" class="mt-2">
        <h2 class="text-center">Acceso denegado</h2>
        <p class="text-center">Credenciales incorrectas, intentelo de nuevo</p>
    </div>
</div>