<main class="d-flex justify-content-center">
    <form action="" >
        
        <h1>Login</h1>
        <div class="input-group mt-4 mb-4" id="group">
            <span class="input-group-text" id="basic-addon1">Usuario: </span>
            <input id="input1" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mt-4 mb-3" id="group">
            <span class="input-group-text" id="basic-addon1">Password: </span>
            <input id="input2" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <div class="b1 py-5">
        <button class="w-100 btn btn-lg btn-outline-primary" type="button">Log In</button>
        </div>

    </form>
    </main>

    <section class="d-flex justify-content-center" >
        <h2 class="text-center py-2">Bienvenido usuario: Angular</h2>
        

    </section>