form {
    
    background-color: red;
    margin-top:6em;
    width: 35em;
}

h1 {
    font-weight: 400;
}
#group {
    padding-left: 30px;
    padding-right: 65px;
}
#basic-addon1 {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 800;
}

#input1 {
    border: none;
    border-bottom: solid;
    border-width: 3px;
    margin-left: 50px;
    background-color: transparent;
    color: black;
    font-weight: 500;
}

#input2 {
    border: none;
    border-bottom: solid;
    border-width: 3px;
    margin-left: 35px;
    background-color: transparent;
    color: black;
    font-weight: 500;
}

.b1 {
     margin-left: 12em;
     margin-right: 12em;
}

h2 {
    text-shadow: 0px 2px 3px red;
}